

.button {
    color:#F0E4D8;
    text-transform: uppercase;
    text-decoration: none;
    background: #C39E9E;
    text-align: center;
    border-radius: 8px;
    width: 50px;
    height: 50px;
    transition: all 0.4s ease 0s;
    font-size: 20px;
    border: #C39E9E;
   
  }
  
  .button:hover {
    color: #2D2D2B;
    background: #F6F0F1;
    transition: all 0.4s ease 0s;
  }

